.container {
    margin-top: 5%;
}

.row {
    margin-top: 10px!important;
    grid-template-rows: auto;
}

.col-2, .col-4 {
    grid-template-columns: auto;
}

.col-4 {
    padding-top: 10px;
}

.btn, input {
    height: 7vh!important;
    min-width: 100%;
}

.evBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    border: 3px solid black;
}

#result {
    height: 100%!important;
}