body {
    background-color: #2C2F33!important;
}

@font-face {
    font-family: OctoberCrow;
    src: url("/src/assets/fonts/October\ Crow.ttf");
}
@font-face {
    font-family: Yahfie;
    src: url("/src/assets/fonts/Yahfie-Normal.ttf");
}

#ghost {
    font-family: OctoberCrow;
    font-size: 4rem!important;
    font-weight: normal!important;
}

.container {
    margin-top: 5%;
}

.row {
    grid-template-rows: auto;
}

.col-2, .col-4 {
    grid-template-columns: auto;
}

.col-4 {
    padding-top: 10px;
}

.btn, input {
    height: 7vh!important;
    min-width: 100%;
}

.evBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    border: 3px solid black;
}

.evBtn, .resBtn, .possibilitiesBox, .evBox {
    background-image: url("/src/assets/paper.jpg");
    background-size: cover;
    font-family: Yahfie;
    font-size: 1.5rem!important;
    font-weight: bold!important;
}

.possibilitiesBox {
    border: 3px solid black;
    height: 21vh;
}

.attributesBox {
    height: 100%;
    padding-right: 10px;
}

.emptyBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.infoCol {
    padding-top: 4vh;
}

.infoBox {
    background-color: whitesmoke;
    margin-top: 2vh!important;
    padding: 20px;
    border: 3px solid black;
}

.info {
    margin-bottom: 2vh!important;
}

.possibility {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 0px!important;
    white-space: pre;
}

.attributes {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 50%;
    margin-bottom: 0px;
    white-space: pre;
}

.strength, .weakness {
    height: 50%;
}

#result {
    height: 100%!important;
}

#clear {
    height: 100%!important;
}

textarea {
    resize: none!important;
    overflow: hidden;
    width: 100%
}