.container {
    margin-top: 5%;
}

.row {
    grid-template-rows: auto;
}

.col-2, .col-4 {
    grid-template-columns: auto;
}

.col-4 {
    padding-top: 10px;
}

.btn, input {
    height: 7vh!important;
    min-width: 100%;
}

.evBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    border: 3px solid black;
}

.possibilitiesBox {
    border: 3px solid black;
    height: 21vh;
}

.attributesBox {
    height: 100%;
}

.emptyBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.infoBox {
    margin-top: 2vh!important;
}

.possibility {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 0px;
    white-space: pre;
}

.attributes {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 50%;
    margin-bottom: 0px;
    white-space: pre;
}

.strength, .weakness {
    height: 50%;
}

#result {
    height: 100%!important;
}

#clear {
    height: 100%!important;
}

textarea {
    resize: none!important;
    overflow: hidden;
    width: 100%
}